<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MongoDBConnectionString" connectionString="mongodb://localhost/testdb?strict=true"/>
    <add name="UsernameAndPassword" connectionString="mongodb://myUser:myPass@flame.mongohq.com:27055/DetroitStealthStartup"/>
  </connectionStrings>
</configuration>